@font-face {
	font-family: 'gilroylight';
	src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/gilroylight-webfont.woff2') format('woff2'),
		url('../fonts/gilroylight-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'gilroyextrabold';
	src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
		url('../fonts/gilroyextrabold-webfont.woff') format('woff');
	font-weight: 900;
  /* Проверить размер в процессе */
	font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Глобальные стили страницы */

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
